* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header {
  position: relative;
}

header svg {
  position: absolute;
  top: 45%;
  color: white;
  cursor: pointer;
  z-index: 1000;
}

header #left {
  left: 20px;
}

header #right {
  left: 1300px;
}

img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: none;
}
